* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Playwrite NG Modern", Courier, monospace;
}

.body-container {
  width: 600px;
}

header {
  background-image: url("./images/burger.jpg");
  background-position: 100px -150px;
  background-repeat: no-repeat;
  background-size: 600px;
  height: 163px;
  background-color: #0c0c0c;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---------- */
/* topography */
/* ---------- */
header h1 {
  font-size: 2rem;
}

header p {
  font-size: 0.8rem;
  letter-spacing: 0.0625rem;
}

header h1,
header p {
  margin-left: 10%;
}
/* ----------------- */
/* body -- DRY usage */
/* ----------------- */
#menuList,
.menuItem,
.textBox
,.orderItem
,#paymentModal {
  display: flex;
}

#menuList,
.textBox
,#paymentModal {
  flex-direction: column;
}

#checkout
,#checkout-btn
,#checkout
,.btn
,#add-btn
,#purchaseCompleted
{
  text-align: center;
}

.name
,.ingredients
,.price
,.btn
,#purchaseCompleted {
  vertical-align: middle;
}

.ingredients
,.remove  {
  color: rgb(171, 170, 170);
  font-size: 0.75rem;
}

#add-btn::selection
,.remove::selection
,.btn::selection {
  background-color: transparent;
}

.add-to-order-container
,#checkout-btn
,.remove {
  cursor: pointer;
}

/* ------------------ */
/* body elements alpha*/
/* ------------------ */
.add-to-order-container {
  height: 100%;
  & #add-btn {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    font-size: 1.75rem;
    line-height: 50px;
    transition: background-color 0.2s linear;
  }
  & #add-btn:hover {
    background-color: rgba(135, 206, 250,0.5);
  }
}

.btn {
  background-color: #16DB99;
  color: white;
  border-radius: 3px;
  margin-bottom: 50px;
  transition: all 0.2s linear;
  height: 60px;
  line-height: 60px;
}

.btn:hover {
  background-color: #0bac77;
}

#checkout {
  width: 508px;
  height: auto;
  margin: auto;
  font-size: 1.0625rem;
  display: none;
}

#checkout-title
,#checkout-btn
,#orderList {
  margin-top: 4rem;
}

.emoji span {
  font-size: 4.375rem;
  line-height: 4.375rem;
}

.menuItem {
  height: 140px;
  border-bottom: 2px solid lightgray;
  justify-content: center;
  margin: 50px 0;
}

.orderItem {
  justify-content: space-between;
}

#paymentModal {
  height: 524px;
  width: 524px;
  position: fixed;
  z-index: 2;
  top: calc((100vh - 524px)/2);
  left: -600px;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid lightgray;
  background-color: white;
  & #inputName
    ,#inputCardNumber
    ,#inputCVV {
    border: 2px solid lightgray;
    display: block;
    width: 475px;
    height: 71px;
    margin: 15px 0;
    padding-left: 20px;
    font-size: 1.5rem;
  }
  & ::placeholder {
    color: lightgray;
  }
  & #paymentModal-btn {
    width: 475px;
    height: 71px;
    line-height: 71px;
    margin-bottom: 0;
  }
}

#purchaseCompleted {
  width: 504px;
  height: 120px;
  background-color: #ECFDF5;
  color: #317C67;
  margin: auto auto 50px auto;
  font-size: 1.0625rem;
  line-height: 120px;
  display: none;
}

#rowDivider {
  height: 2px;
  background-color: slategray;
  margin: 1.25rem 0;
}

.remove {
  margin-left: 8px;
}

.textBox {
  width: 320px;
  & .ingredients {
      margin-bottom: 0.375rem;
    }
}